  /* Блок с текстом после слайд шоу*/
  .container {
    text-align: center; /* Центрирование содержимого по горизонтали */
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-block {
    background-color: white;
    display: inline-block; /* Для центрирования блока по горизонтали */
    padding-bottom: 30px;
    border-radius: 10px;
  }

  .text-block p {
    padding-left: 200px; /* Отступ слева для абзацев */
    padding-right: 200px; /* Отступ справа для абзацев */
    text-align: justify;
    font-size: 22px;
  }

  .title-block h2 {
    font-size: 34px; /* Размер шрифта заголовка */
    font-weight: bold; /* Полужирный шрифт */
    /* Другие стили для заголовка */
  }
  
  /* Характеристики блоков */

  .text-after-slideshow {
    text-align: center; /* Центрируем текст */
    padding: 20px;
  }
  .text {
    position: absolute;
    bottom: 10px; /* Позиционируйте текст относительно нижней части изображения */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Стили для блоков с фотографиями */
  .block {
    background-color: white; /* Цвет фона блока */
    margin-top: 20px; /* Отступ между блоками */
    max-width: 1200px; /* Ширина блока - 100% ширины родительского контейнера */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    position: relative; /* Добавим позиционирование для блока */
    display: flex;
    border-radius: 10px;
  }
  
  .block-content {
    display: flex;
    position: absolute; /* Позиционируем изображение абсолютно */
    left: 0; /* Располагаем слева относительно блока */
    top: 0; /* Располагаем сверху относительно блока */
    height: 100%; /* Высота по высоте блока */
    width: 100%; /* Занимает половину ширины блока */
}
    
  .block-image {
    width: 500px; /* Размер изображения */
    height: 100%; /* Размер изображения */
    object-fit: cover; /* Обрезка изображения, чтобы занять всю площадь */
    left: 0;
    top: 0;
}
  
  .block-image img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
  }
  
  .block-details {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
/* Настройки заголовка */
  .block-title {
    text-align: center;
    font-weight: bold;
    margin-left: 100px;
    font-size: 28px; 
  }
/* Настройки черной полосы */
  .block-divider {
    height: 2px;
    width: 700px;
    background-color: #ccc;
    margin: -5px ;
  }
  
  .block-info {
    display: flex;
    justify-content: space-between;
  }
  .info-item p:first-child {
    font-weight: bold;
    color: #1560BD;
    
  }
  /* настройка текста между полосами */
  .info-item {
    margin-left: 25px;
    width: auto;/* Увеличим высоту строки текста */

  }
  .info-item p {
    white-space: nowrap; /* Запретим перенос текста на новую строку */
    overflow: hidden; /* Скроем текст, выходящий за пределы блока */
    text-overflow: ellipsis; /* Добавим многоточие для обозначения обрезанного текста */
    text-align: center;
}
  
  .block-text {
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
    width: 697px;
  }